@font-face {
    font-family: 'ubunturegular';
    src: url('fonts/ubuntu/ubuntu-regular-webfont.eot');
    src: url('fonts/ubuntu/ubuntu-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntu/ubuntu-regular-webfont.woff') format('woff'),
         url('fonts/ubuntu/ubuntu-regular-webfont.ttf') format('truetype'),
         url('fonts/ubuntu/ubuntu-regular-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html,body {
    padding:0;
    margin:0;
    background-color:#eee;
    overflow:hidden;
    font-family: ubunturegular, sans-serif;
}
/* responsive fontsizes */
@media all and (max-width: 100px) and (min-width: 10px) {
    .head {font-size: 10pt}
    .bluetxt {font-size: 8pt}
    .bigfig {font-size: 16pt}
}
@media all and (max-width: 250px) and (min-width: 100px) {
    .head {font-size: 12pt}
    .bluetxt {font-size: 9pt}
    .bigfig {font-size: 18pt}
}
@media all and (max-width: 360px) and (min-width: 250px) {
    .head {font-size: 14pt}
    .bluetxt {font-size: 10pt}
    .bigfig {font-size: 20pt}
}

div.container {
    position: relative;
    width: 100%; height: 100%;
    background-color:white;
}
div.rightmenu{
    position: absolute;
    margin: 0;
    padding: 0;
    right: 0;
    height: 100%;
    width: 14%;
    z-index: 8;
    background-image: url("images/menuright.png");
    background-repeat:no-repeat;
    background-size: 100% 100%;
    display: none; 
}

div.top {
    position: relative;
    width: 100%; height: 32.3%;
    background-color:#005ABB;
    background-image: url("images/top.png");
    background-repeat:no-repeat;
    background-size:   cover; 
}
div.graphblock {
    position: relative;
    width: 100%; height: 33.3%;
    background-color:white;
    border-bottom: solid #005ABB 1px;
}
div.middle{
    width: 100%; height: 61.45%;    
}
div.bottom {
    position: relative;
    width: 100%; height: 6.25%;
    background-color:#050F18;
}
svg.gauge1{
    position: relative;
    margin-top: 3%;
    margin-left: 5%;
    width: 33%;
    float: left;
}
div.wt{
    position: relative;
    float: left;
    height: 100%;
    width: 61%;
}
span.head{
    position: relative;
    display: block;
    color: lightgray;
    margin-left: 10%;
    margin-top: 8%;
}
span.bluetxt{
    position: relative;
    display: block;
    color: #005ABB;
    margin-left: 10%;
    margin-top: 7%;
    float: left;
}
div#graph1{
    background-image: url("images/slgraph.png");
    background-repeat:no-repeat;
    background-size:   cover; 
}
img.notimg{
    position: relative;
    display: block;
    top: 10%;
    margin-left: auto;
    margin-right: auto;
}
img.smallgraph{
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}
div.lft{
    float: left;
    width: 39%;
}
span#currwait{
    position: relative;
    display: block;
    text-align: center;
}
span#totab{
    position: relative;
    float: right;
    margin-right: 10%;
    margin-top: 2%;
}
span#avwt{
    position: relative;
    float: right;
    margin-right: 10%;
    margin-top: 2%;
}
div.break{
    clear:both;
}
div.touchbutton{
    background-color: transparent;
    height: 9%;
    width: 15%;
    z-index: 9;
}
div#rtb{
    position: absolute;
    right:0;
}